{% extends 'base.html' %} 
{% block title %}Home{% endblock title %} 
{% block homeactive %} active {% endblock homeactive %}

{% block body %} 

<section class="ftco-section">
    <div class="container">
        <!---------- Heading---------->
        <div class="row justify-content-center mt-4">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Please Provide Some Additional Information</h2>
            </div>
        </div>

        <!---------- Customer Additional information form---------->
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters shadow-lg">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex mx-auto">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                        <form action="{% url 'add_customer' %}" method="post" enctype="multipart/form-data">
                           
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="font-weight-bold">Gender <span class="text-danger">*</span></label>
                                <select class="form-select" name="gender" aria-label="Default select example">
                                    <option selected>Gender</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                    <option value="2">other</option>
                
                                  </select>
                                  
                                
                            </div>
                            
                            <div class="form-group">
                                <label class="font-weight-bold" >Date of birth <span class="text-danger">*</span></label>
                                <input type="Date" name="dob" id="dob" class="form-control"
                                    placeholder="mm/dd/yyyy" required> 
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">Phone-number <span class="text-danger">*</span></label>
                                <input type="text" name="phone" id="phone" class="form-control"
                                    placeholder="Enter your valid Phone-number" required>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">Address <span class="text-danger">*</span></label>
                                <input type="text" name="address" id="address" class="form-control"
                                    placeholder="Enter your present address" required>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">Pincode <span class="text-danger">*</span></label>
                                <input type="text" name="pin" id="pin" class="form-control"
                                    placeholder="Enter your Pin Code" required>
                            </div>
                            
                            <div class="form-group">
                      
                                    <div class="form-group">
                                      <label class="font-weight-bold" for="profile_pic">Upload Image</label>
                                      <input type="file" class="form-control-file"name="profile_pic" id="profile_pic">
                                    </div>
                        
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" name="submit" class="btn btn-block col-md-12 btn-success">Signup </button>
                            </div>
                        </form>
                    </div>
                </div>
                
                                                      
                    </div>
                </div>
            </div>
        </div>

    
{% endblock body %} 