env
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so

### Django ###
*.log
*.pot
*.pyc
account/migrations/
home/migrations/
Imperfectly-Perfect/__pycache__/
db.sqlite3
