{% extends 'base.html' %}
{% block title %}Add Product{% endblock title %}
{% block addProductActive %}active{% endblock addProductActive %}
{% block body %}
{% if user.is_authenticated %}

<div class="container my-5">
<h1 class="my-3 text-center">Add Auction</h1>
{{ product.pk }}
{{ product.title }}
    <br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ auction_form.as_p }}

        <button class="btn btn-warning">POST</button>
    </form>
</div>

{% else %}
You are Not allowed here
{% endif %}
</div>
<script>
    var name="{{ product.pk }}";
    document.getElementById("product_id").value=title;
</script>

{% endblock body %}