{% extends 'base.html' %}
{% load static %}
{% block title %}Bid Details{% endblock title %}
{% block BidDetailsActive %}active{% endblock BidDetailsActive %}
{% block body %}

<!-- section to view listed products -->
    

      <section id="view-listed-products">
        <h2 class="text-center">Here are your Listed Bid's Details Products</h2>
        
          <div class="container my-5">
          <div id="accordion">
            <div class="card">
              {% for product in all_posted_product %}
                
                  <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#product_{{product.pk}}" aria-expanded="true" aria-controls="product_{{product.pk}}">
                    <h5 class="mb-0"></h5>
                
                    {% if product.bids.all.count %}

                     <h6 class="mb-0">{{ product.title }}</h6>
                     {% else %}
                    <h6 class="mb-0">{{ product.title }}</h6>
                    
                    <p>The Product Has No Bid</p>
                    {% endif %}
                  </div>
                  
                  
                  {% for bid in product.bids.all %}
                    <div id="product_{{product.pk}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        <div class="bid-details my-1">
        
                          

                            {% if bid.product.order %}                           
                                    {% if bid.accepted_bid %}
                                  <p class="d-inline">Offerd Price : {{bid.bid_price}} 
                                  Company: <a type="button" class="btn-sm btn-warning" href="{% url 'company_details' bid.company.pk %}"> {{bid.company}} </a></p>
                                  
                                    <p>Offer Acepted</p>
                                    <a href="" type="button" class="btn-sm btn-success">View Order</a>
                                    {% endif %}
                              {% else %}
                              <p class="d-inline">Offerd Price : {{bid.bid_price}} 
                              Company: <a type="button" class="btn-sm btn-warning" href="{% url 'company_details' bid.company.pk %}"> {{bid.company}} </a></p>
                              <a href="{% url 'accept_bid' bid.pk %}" type="button" class="btn-sm btn-success">Accept</a>
                              <button type="button" class="btn-sm btn-danger">Decline</button>

                            {% endif %}
                          </p>

                        </div>
                        
                        {% comment %} <div class="bid-details my-1">
                          <p class="d-inline">Bid#2 details</p>
                          <button type="button" class="btn-sm btn-success">Accept</button>
                          <button type="button" class="btn-sm btn-danger">Decline</button>
                        </div> {% endcomment %}
                      </div>
                    </div>
                  {% endfor %}
                  {% endfor %}
            </div>
          </div>
        </div>
        
        </section>
        
{% endblock body %}

{% block custom_js %}
<script src="{% static "js/users.js" %}"></script>
{% endblock custom_js %}
