{% extends 'base.html' %}
{% load static %}
{% block title %}You Products{% endblock title %}
{% block CustomerProductsActive %}active{% endblock CustomerProductsActive %}
{% block body %}

<!-- section to view listed products -->
<section id="view-listed-products">
    <h2 class="text-center">Here are your Listed Products</h2>
    <div class="container my-5">
    <div id="accordion">
      {% comment %} <div class="card">
        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h5 class="mb-0">Product #1 Name</h5>
          <h6 class="mb-0">Product Description</h6>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="bid-details my-1">
              <p class="d-inline">Bid#1 details</p>
              <button type="button" class="btn-sm btn-success">Accept</button>
              <button type="button" class="btn-sm btn-danger">Decline</button>
            </div>
            
            <div class="bid-details my-1">
              <p class="d-inline">Bid#2 details</p>
              <button type="button" class="btn-sm btn-success">Accept</button>
              <button type="button" class="btn-sm btn-danger">Decline</button>
            </div>
          </div>
        </div>
      </div> {% endcomment %}










      {% if all_posted_product %}
     
      <div class="card">

        {% for product in all_posted_product %}
        
        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <h5 class="mb-0">{{ product.title }}
            <a href="{% url 'update_product' product.pk %}" class='btn-sm' >Edit</a>
            <a href="{% url 'delete_product' product.pk %}" class='btn-sm' >Delete</a>
          </h5>
          <h6 class="mb-0">{{ product.desc | slice:':120' | safe }}

            <a href=" {% url 'product_details' product.pk %}">View Product</a>

          </h6>
        </div>
        
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          
          <div class="card-body">  
            <div class="bid-details my-1">
              <p class="d-inline">Add it on Auction</p>
              <button type="button" class="btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#company_1">Add</button>
              <a href='#' type="button" class="btn-sm btn-danger">Remove</a>
            </div>
          </div>

        </div>

        {% endfor %}

      </div>
     
      
      {% else %}
      <p>You Have no Product <a href="{% url 'add_product' %}">Add one</a> </p>
      {% endif %} 

 <!-------------------------------------Auction Modal start------------------------------------>
    <!-- Modal -->
    <div class="modal fade" id="company_1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Place your bid</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="number" class="form-control" placeholder="Enter your bid">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>
    </div>





      {% comment %} <div class="card">
        <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h5 class="mb-0">Product #3 Name</h5>
          <h6 class="mb-0">Product Description</h6>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <div class="bid-details my-1">
              <p class="d-inline">Bid#1 details</p>
              <button type="button" class="btn-sm btn-success">Accept</button>
              <button type="button" class="btn-sm btn-danger">Decline</button>
            </div>
            
            <div class="bid-details my-1">
              <p class="d-inline">Bid#2 details</p>
              <button type="button" class="btn-sm btn-success">Accept</button>
              <button type="button" class="btn-sm btn-danger">Decline</button>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
  </section>
{% endblock body %}

{% block custom_js %}
<script src="{% static "js/users.js" %}"></script>
{% endblock custom_js %}
