{% extends 'base.html' %}
{% load static %}
{% block title %}You Products{% endblock title %}
{% block CustomerProductsActive %}active{% endblock CustomerProductsActive %}
{% block body %}

<!-- section to view listed products -->
<section id="view-listed-products">
    <h2 class="text-center">Your Listed Products</h2>
    <div class="container my-5">
    <div id="accordion">

      {% if all_posted_product %}
     
      <div class="card">

        {% for product in all_posted_product %}
        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#product_{{product.pk}}" aria-expanded="true" aria-controls="product_{{product.pk}}">
          <h5 class="mb-0">{{ product.title }}</h5>
            <!-- {% comment %} <a href="{% url 'update_product' product.pk %}" class='btn-sm' >Edit</a>
            <a href="{% url 'delete_product' product.pk %}" class='btn-sm' >Delete</a> {% endcomment %} -->
          <h6 class="mb-0">{{ product.desc | slice:':120' | safe }} . . . . .</h6>
        </div>
        
        <div id="product_{{product.pk}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          
          <div class="card-body">  
            <div class="bid-details my-1">
              <a href=" {% url 'product_details' product.pk %}" type="button" class="btn-sm text-white p-2" style="text-decoration: none; background-color: #4484ce;"><i class="bi bi-eye"></i> View</a>
              <a href="{% url 'update_product' product.pk %}" type="button" class="btn-sm text-white p-2" style="text-decoration: none;background-color:#f9cf00;"><i class="bi bi-pencil"></i> Update</a>
              <a href="{% url 'delete_product' product.pk %}" type="button" class="btn-sm btn-danger p-2" style="text-decoration: none;"><i class="bi bi-trash"></i> Remove</a>
              
              
            </div>

          </div>
        </div>
        {% endfor %}

      </div>
     
      
      {% else %}
      <p>You Have no Product <a href="{% url 'add_product' %}">Add one</a> </p>
      {% endif %} 

    </div>
  </div>
  </section>
{% endblock body %}

{% block custom_js %}
<script src="{% static "js/users.js" %}"></script>

{% endblock custom_js %}
