{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.title }}{% endblock title %}
{% block body %}
<h1 class="text-center">{{ product.title }}</h1>
<div class="container my-5 bg-white rounded-3 p-3 shadow">
    


<div>
    
    {% if product.author.profile_pic %}
    <img src="{{ product.author.profile_pic.url }}" class="rounded-circle mx-auto d-block"  width=75 height=75>
    <p class="text-center">From: {{ product.author.user.username }}</p>

    {% else %}
    
        <img src="{% static 'img/avatar.jpg' %}" alt="Avatar"  class="rounded-circle mx-auto d-block"  width=75 height=75>
        <p class="text-center">From: {{ product.author.user.username }}</p>
        
        
    {% endif %}
  
    <p class="text-center">Category: <span class="badge bg-primary text-wrap" style="letter-spacing: 1px;"> {{ product.category }} </span></p> 
     
    <br>
    <div class="d-flex flex-column flex-md-row justify-content-md-evenly">
        <div>
            Posted : {{ product.created_at }} 
        </div> 
        
        <div>
            Last update : {{ product.updated_at }}
        </div>
    </div>
    
</div>

<hr>
{% if product.product_image.url %}
<div class="d-flex">
<img src=" {{ product.product_image.url }} ">
<div>
<h2>Product Description</h2>
<span>{{ product.desc|safe }}</span>
</div>
</div>
{% endif %}
<br>



<br>
<hr>

<!--This is for Bid Price-->
<div class="d-flex flex-column flex-md-row justify-content-md-evenly">
<p> <strong>Price:</strong> <span class="badge bg-success" style="letter-spacing: 1px;"> ₹ {{ product.price }} </span></p>
<br>
<p> <strong>Total Bids</strong> <span class="badge bg-dark" style="letter-spacing: 1px;">{{ product.bids.all.count }}</span>  </p>
</div>
<br>
    {% if not product.bids.all %}
    
    
    <small>Make Your First Bid</small>

    

    {% endif %}

{% if user.is_authenticated %}
    <small> 
                    {% comment %} <div class="form-group">
                        <form action="{% url 'bid_product' product.pk %}" method="POST" >
                            {% csrf_token %}
                                <input type="hidden" name="productId" value="{{ product.pk }}">
                                <label for="bid_product">Bid Product</label>
                                    <input type="number" class="col-form-label" id="bid_price" min="{{ product.price }} " name="bid_price" placeholder="Bid The Product"></input>
                           
                                <small><button class="btn btn-warning sm sm mr-2">Bid Product</button>
                                </small>
                            </form>
                    </div> {% endcomment %}
                    {% else %}

                    <div class="form-group">
                        <form>
                            <label for="bid_product">Bid Product</label>
                                    <input type="number" class="col-form-label" id="bid_price" min="{{ product.price }}" name="bid_price" placeholder="Bid The Product"></input>
                                <small>
                                    <button type="button" class="btn btn-primary sm mr-2" data-toggle="modal" data-target="#loginModal">Bid Product</button> 
                                </small>
                            
                        </form>
                    </div>
    </small>
{% endif %}
</div>
{% endblock body %}