{% extends 'base.html' %} 
{% load static %} 
{% block title %}My Bids{% endblock title %} 
{% block productactive %} active {% endblock productactive %}

{% block body %}

    <!-- -----------------------------------Product list start----------------------------------- -->
    <div class="container">
        <div class="row gap-3 justify-content-around">
          <h2 class="text-center">Your Orders </h2>
          {% for product in all_products %}
            {% if product.order %}
              
           
            {% for bid in product.bids.all %}                
                  {% if bid.company.user.id == user.id %}
                      <div class="card col-3 m-4 cardcss shadow" style="width: 18rem;">
                         
                          {% if product.product_image %}
                          <img src=" {{ product.image_url|default_if_none:'#' }} " class="card-img-top p-2" alt="..." width="320" height="180">
                          {% else %}
                          <img src="{% static 'img/product.jpg' %}" alt="Avatar"  class="rounded-circle"  width=75 height=75>
                          {% endif %}
                          <div class="card-body">
                          <h5 class="card-title">{{ product.title }}</h5>
                          <p class="card-text">{{ product.desc | slice:':100' | safe }}

                            <a href=" {% url 'product_details' product.pk %}"><i class="bi bi-eye-fill mr-1"></i>View Product</a>
                          </p>
              
                          
                          </div>
                          <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                              Author
                              <span class="text-dark fw-bold">{{ product.author }}</span>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-center">
                              
                              Budget:
                              
                  
                              <span class="badge bg-success rounded-pill">₹ {{ product.price }}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                              Category:
                              <span class="badge bg-primary rounded-pill">{{product.category}}</span>
                              </li>
                          </ul>
                          <div class="mx-auto">
                              <!-- <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#product_{{product.pk}}" style="background-color: #f9cf00; border:0px">
                                <i class="bi bi-info-circle-fill mr-1" ></i>Info
                              </button>  -->
                              {% if user.is_authenticated %}
                              {% if user.company %}
                              {% comment %} <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#productbid_{{product.pk}}">
                                  Submit Bid
                              </button> {% endcomment %}
                              <a href=" {% url 'add_order_details' bid.pk %}" type="button" class="btn text-white fw-bold m-2" style="background-color: #332cf2;border:0px">
                                Manage Order
                              </a>
                              {% else %}
                              <p>You are not allowed</p>
                              {% endif %}
                          {% comment %} {% endif %} {% endcomment %}
                        {% else %}
                              <p> You have No orders</p>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                
                {% endfor %}
              {% endif %}
            
            {% endfor %}


            

    <!-- -----------------------------------Product list end----------------------------------- -->


    <!-- -----------------------------------Bid Modal start----------------------------------- -->
{% for product in all_products %}
    <!-- Modal -->
  
  <!-- -----------------------------------Product requirement Modal start----------------------------------- -->
    <!-- Modal -->
    <div class="modal fade" id="product_{{product.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <i class="bi bi-info-circle-fill mr-1" ></i>Info
            
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card m-auto" style="width: 18rem;">
              {% if product.product_image %}
                  <img src=" {{ product.image_url|default_if_none:'#' }} " class="card-img-top p-2" alt="..." width="320" height="180">
                  {% else %}
                  <img src="{% static 'img/product.jpg' %}" alt="Avatar"  class="rounded-circle"  width=75 height=75>
                  {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{product.title}}</h5>
                  <p class="card-text"><p class="card-text">{{ product.desc | safe }}</p>
                </div>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Budget:
                <span class="badge bg-success rounded-pill">₹{{product.price}} </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Due Date:
                <span class="badge bg-primary rounded-pill">12th Dec 2022</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% endblock body %}