{% extends 'base.html' %}
{% load static %}
{% block title %}add order details{% endblock title %}



{% block body %}

<section class="ftco-section">
    {% for order in bid.order.all %}
    {% if order.bid == bid %}
    <div class="container">
        <!---------- Heading---------->
        <div class="row justify-content-center mt-4">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">ORDER SUMMARY</h2>
            </div>
        </div>

        <!---------- Order Summary form---------->
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters shadow-lg">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex mx-auto">
                            <div class="contact-wrap w-100 p-md-5 p-4">

                                <form id="contactForm" name="contactForm" class="contactForm" method='post'>
                                {% csrf_token %}
                                <!----------Form fields ---------->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="delivery_date">Delivered by:</label>
                                                <input type="date" class="form-control" value={{order.delivery_date}} name="delivery_date"
                                                    id="delivery_date">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="shipping_partner">Shipping Partner</label>
                                                <input type="text" class="form-control" name="shipping_partner"
                                                    id="shipping_partner" placeholder="{{order.shipping_partner}}">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="product_location">Arrived At</label>
                                                <input type="text" class="form-control" name="product_location"
                                                    id="product_location" placeholder="{{order.product_location}}">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Delivery Address</label>
                                                <textarea name="delivery_address" class="form-control"
                                                    id="delivery_address" cols="30" rows="4"
                                                    placeholder="Customer Address" value="{{bid.product.author.address}}">{{bid.product.author.address}}</textarea>
                                            </div>
                                        </div>

                                        <!---------- payment status ---------->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="payment_status">Payment Status</label>
                                                <input type="text" class="form-control" name="payment_status"
                                                    id="payment_status" placeholder="{{order.payment_status}}">
                                            </div>
                                        </div>
                                        <!---------- payment status ends ---------->
                                        
                                        <!---------- Form fields end ---------->

                                        <!---------- Submit button ---------->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type='submit' class="btn btn-primary">
                                                    Send to Customer
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!---------- Order Summary form end---------->
    </div>
<!---------- local stylesheet ---------->
{% endif %}
    {% endfor %}
</section>
{% endblock body %}